:root {
    /* текст */
    --first-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --black-color: #000000;
    --bordercolor: #ECECEC;
    --secondary-borderbox: #EEEEEE;
    --text-footer-color: rgba(255, 255, 255, 0.6);
    --address-text-color: #FFFFFF;
    --icon-color: #AFB1B8;

    /* фон */
    --main-backgraund-color: #FFFFFF;
    --secondary-background-color: #2F303A;
    --team-backgraund-color: #F5F4FA;
}

html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
/* a {
    text-decoration: none;
    color: inherit;
} */

/* ul {
    list-style: none;
} */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}
ul{
    padding: 0;
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
}
.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

body {
    background-color: var(--main-backgraund-color);
    font-family: Roboto, sans-serif;
    color: var(--first-text-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

/* ШАПКА */
.header {
    border-bottom: 1px solid var(--bordercolor);
}
.container.nav {
    display: flex;
    align-items: center;
}
.main-nav {
    display: flex;
    align-items: center;
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;
    margin-right: 93px;
}

.logo .web {
    color: var(--accent-color);
    text-decoration: none;
}
.logo .studio {
    color: var(--black-color);
    text-decoration: none;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation .item:not(:last-child) {
    margin-right: 50px;
}

.nav-item {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.navigation .nav-item {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: inherit;
}   
.contacts {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto;
}
.contacts-item {
    display: flex;
    align-items: center;
}

.contacts .item+.item {
    margin-left: 50px;
}

.nav-item.current {
    color: var(--accent-color);
}

.nav-item:hover,
.nav-item:focus {
    color: var(--accent-color);
}
.contacts-item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}
.contacts-item:hover,
.contacts-item:focus {
    color: var(--accent-color)
}
.contacts-item-icon {
    fill: currentColor;
    display: block;
    margin-right: 10px;
}

/* ГЕРОЙ */
.hero {
    text-align: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: var(--secondary-background-color);
    background-image:
    linear-gradient(to top, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url("../images/overlay.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1600px;
    margin: 0 auto;
}

.hero .hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--address-text-color);
    max-width: 696px;
    justify-content: center;
    align-content: center;
    margin: 0 auto 30px;
}

.hero-button {
    padding: 10px 32px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--address-text-color);
    border-color: var(--accent-color);
    cursor: pointer;
    background: var(--accent-color);
    border-radius: 4px;
    min-height: 50px;
}

/* ПЕРВАГИ */
.about-working {
padding-top: 94px;
padding-bottom: 0;
}

.feature-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--team-backgraund-color);
    border-radius: 4px;
    margin-bottom: 30px;
}
.feature-list {
    display: flex;
    list-style: none;
}

.feature-list li {
    width: 270px;
}
.feature-list li:not(:last-child) {
    margin-right: 30px;
}

.feature-list .title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature-list .description {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-bottom: 0;
}

/* ЧИМ МИ ЗАЙМАЄМОСЯ */
.h2-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-bottom: 50px;
}

.subject-list {
    display: flex;
    list-style: none;
    gap: 30px;
}

.subject-list-item img {
    display: block;
}

/* КОМАНДА */
.team {
    background-color: var(--team-backgraund-color);
}

.team-list,
.clients-list {
    list-style: none;
    display: flex;
    gap: 30px;
}
.team-item {
    padding-top: 0;
    padding-bottom: 30px;
    background-color: var(--main-backgraund-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}

.team-photo {
    display: block;
}

.team-item-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 10px;
}

.team-item-position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--secondary-text-color)
}

.socials.list {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.socials-items-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}

.socials-items-link:hover,
.socials-items-link:focus {
    background-color: var(--accent-color);
}

.socials-icon {
    fill: var(--icon-color);
}

.socials-items-link:hover .socials-icon, .socials-items-link:focus .socials-icon {
    fill: var(--address-text-color);
}

/* КЛІЄНТИ */
.clients-list {
    justify-content: center;
}

.clients-link {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    color: var(--icon-color);
}
.clients-link:hover,
.clients-link:focus {
    border-color: var(--accent-color);
    cursor: pointer;
}
.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
    color: var(--accent-color);
    border-color: var(--accent-color);
    cursor: pointer;
}

.clients-logo {
    fill: currentColor;
}

/* ФУТЕР */
.footer.list {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    align-items: baseline;
}

.footer-address {
    margin-right: 70px;
}

.footer-logo {
    color: var(--main-backgraund-color);
    letter-spacing: 0.03em;
}

.footer {
    background-color: var(--secondary-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-title {
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--address-text-color)
}

.footer .logo {
    display: block;
    margin-right: 0;
    margin-bottom: 20px;
}

.address-list {
    list-style: none;
}

.address {
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color:var(--address-text-color);
    text-decoration: none;
}
address .contact {
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--text-footer-color);
    text-decoration: none;
}

address .contact:hover,
address .contact:focus {
    color: var(--accent-color);
}

.address-list li:not(:last-child) {
    margin-bottom: 9px;
}

.footer-socials .socials-icon {
    fill: var(--address-text-color);
}

.footer-socials .socials-items {
   background-color: rgba(255, 255, 255, 0.1);
   border-radius: 50%;
}

/* ПОРТФОЛІО */

.button-list {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--team-backgraund-color);
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    padding: 6px 22px;
}

.filter-button:hover,
.filter-button:focus {
    color: var(--address-text-color);
    background: var(--accent-color);
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ПРОЄКТИ */
.projects {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 30px;
}

.projects-link {
    display: block;
    text-decoration: none;
    color: inherit;
}
.projects-item {
    width: calc((100% - 60px) /3);
    display: inline-block;
}

.projects-link:hover,
.projects-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item-name{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    
}

.projects-item-type{
    font-size: 16px;
    line-height: 1.875;
    color: var(--secondary-text-color);
    margin-bottom: 0;
}

.border {
    padding-top: 20px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 19px;
    border-left: 1px solid var(--secondary-borderbox);
    border-right: 1px solid var(--secondary-borderbox);
    border-bottom: 1px solid var(--secondary-borderbox);
}
